{% extends 'base.html' %}

{%  block title %}
Главная
{% endblock %}

{%  block content %}




<style>

        .white-panel {
                    padding: 20px;
                    margin: 20px auto;
                    border-radius: 3px;
                    box-shadow: 0 0 10px rgba(0,0,0,0.2);
                    background-color: #030544;
                    width: auto;
                    height: auto;
                    line-height: 1.5em;
                    text-color:yellow;
                     border: 2px white solid;
                }


        body {
            background-color: black;
            color: white;
            font-family:  sans-serif;
            text-align: left;
            padding: 0px;
        }
    </style>

<div class="white-panel"style="font-size:30px">

Мы создали этот сайт, чтобы помочь школьникам понять и полюбить физику.

</div>


{% endblock %}
